## Data

In [1]:
import numpy as np
import pandas as pd

In [27]:
df = pd.read_excel("WMC_DATA_MSA_DF.xlsx")
df.drop(columns = ["Q1.4", "Q2.4", "Q1.8", "Q2.8", "V1",
                   "Q1_letter_count", "Q2_letter_count",
                   "Q1_word_count", "Q2_word_count"], inplace = True)
df.drop([0], inplace = True)
df["Q1_sum"] = df["Q1.1"] + df["Q1.2"] + df["Q1.3"] + df["Q1.5"] + df["Q1.6"] + df["Q1.7"]
df["Q2_sum"] = df["Q2.1"] + df["Q2.2"] + df["Q2.3"] + df["Q2.5"] + df["Q2.6"] + df["Q2.7"]

df_sum = df.copy()
df_sum.drop(columns = ["Q1.1", "Q1.2", "Q1.3", "Q1.5", "Q1.6", "Q1.7",
                    "Q2.1", "Q2.2", "Q2.3", "Q2.5", "Q2.6", "Q2.7"], inplace = True)

In [28]:
df.head()

,DataSet,Q1,Q2,Q1.1,Q1.2,Q1.3,Q1.5,Q1.6,Q1.7,Q2.1,Q2.2,Q2.3,Q2.5,Q2.6,Q2.7,Q1_sum,Q2_sum
1,1,"A child and a man, presumably the father, are ...",We are cycling down in the countryside my fath...,1,0,0,0,0,0,7,3,0,0,0,0,1,10
2,1,Scene opens with a father and daughter riding ...,I imagine she'd be happy to be spending time w...,1,1,0,0,0,0,5,4,0,1,1,0,2,11
3,1,A father and daughter rode their bikes along a...,,0,0,0,0,0,0,-999,-999,-999,-999,-999,-999,0,-5994
4,1,NaN,,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-5994,-5994
5,1,The clip commences with a cross view of the gi...,"I would imagine she experiences glee at first,...",0,3,1,1,0,0,20,0,1,1,0,0,5,22

In [29]:
df_sum.head()

,DataSet,Q1,Q2,Q1_sum,Q2_sum
1,1,"A child and a man, presumably the father, are ...",We are cycling down in the countryside my fath...,1,10
2,1,Scene opens with a father and daughter riding ...,I imagine she'd be happy to be spending time w...,2,11
3,1,A father and daughter rode their bikes along a...,,0,-5994
4,1,NaN,,-5994,-5994
5,1,The clip commences with a cross view of the gi...,"I would imagine she experiences glee at first,...",5,22

## Model

In [30]:
from transformers import pipeline, AutoTokenizer, AutoModelForSequenceClassification

tokenizer = AutoTokenizer.from_pretrained('distilbert-base-uncased-finetuned-sst-2-english')
model = AutoModelForSequenceClassification.from_pretrained('distilbert-base-uncased-finetuned-sst-2-english')
classifier = pipeline("sentiment-analysis", model = model, tokenizer = tokenizer)

/Users/elipartodikromo/Anaconda/anaconda3/envs/mlai/lib/python3.11/site-packages/torchvision/io/image.py:13: UserWarning: Failed to load image Python extension: 'dlopen(/Users/elipartodikromo/Anaconda/anaconda3/envs/mlai/lib/python3.11/site-packages/torchvision/image.so, 0x0006): Symbol not found: __ZN3c1017RegisterOperatorsD1Ev
  Referenced from: <CFED5F8E-EC3F-36FD-AAA3-2C6C7F8D3DD9> /Users/elipartodikromo/Anaconda/anaconda3/envs/mlai/lib/python3.11/site-packages/torchvision/image.so
  Expected in:     <85021449-F141-385B-8151-410662B4D328> /Users/elipartodikromo/Anaconda/anaconda3/envs/mlai/lib/python3.11/site-packages/torch/lib/libtorch_cpu.dylib'If you don't plan on using image functionality from `torchvision.io`, you can ignore this warning. Otherwise, there might be something wrong with your environment. Did you have `libjpeg` or `libpng` installed before building `torchvision` from source?
  warn(
Hardware accelerator e.g. GPU is available in the environment, but no `device` argument is passed to the `Pipeline` object. Model will be on CPU.

In [31]:
sent = ["A child and a man, presumably the father, are cycling in the countryside. They are travelling up hills and eventually come to a halt. They leaves their bikes propped up against a tree. They are now on a hill overlooking the sea. The father retrieves a boat and it soon becomes apparent that the girl wont be allowed to join him on it. He sails off into the sunset as the child looks  on. Eventually he vanishes and the girl is left staring at the empty ocean. She cycles off and returns twice but although his bike is still there, the man is not. The child wears a worried expression and the film ends with a shot of the sun shining.",
       "Scene opens with a father and daughter riding bikes together on a path through a field. They continue until they reach a row of trees, overlooking a body of water.  They dismount and leave the bikes by the side of the road. The father makes his way down a hill, to the water's edge, to a small rowing boat. Before getting in he climbs back up the hill and embraces his daughter a final time. He returns to the boat and rows away from land. As he travels further away the daughter runs up and down the path/cliff that overlooks the water, restlessly, as if unsure what to do next. She cycles off eventually and returns at a later date. Her father's bike is still propped up against one of the trees. She looks out across the water but it's still, lifeless. Again, she cycles off alone. ",
       "A father and daughter rode their bikes along a straight path without much scenery. They arrived at a tree and parked their bikes. The father descended down a steep slope to a body of water with a boat floating by the shore. The girl stayed at the top of the hill and watched his movements. The man climbed back up the hill and picked her up, hugging in a way that appeared to be a goodbye. He put her down and went back to the boat, rowing away into the sunset. The girl watched him row, moving back and forth along the plateau, until eventually she rode away on her bike, leaving her father's bike. The sun appeared to set, as the colours of the environment changed to darker and more red. She climbed a hill on her bike, and at some point returned to the trees where her father had left, but found that he had not yet returned. She rode away again. "]

In [32]:
classifier(sent)

[{'label': 'NEGATIVE', 'score': 0.8227729797363281},
 {'label': 'NEGATIVE', 'score': 0.9940113425254822},
 {'label': 'NEGATIVE', 'score': 0.9903246164321899}]

In [33]:
type(classifier)

transformers.pipelines.text_classification.TextClassificationPipeline

In [34]:
from transformers import TextClassificationPipeline

class preOut(TextClassificationPipeline):
    def postprocess(self, model_outputs):
        return model_outputs["logits"]

In [35]:
pipe = preOut(model = model, tokenizer = tokenizer)

Hardware accelerator e.g. GPU is available in the environment, but no `device` argument is passed to the `Pipeline` object. Model will be on CPU.

In [36]:
pipe(sent)[0][0] # Nodes from final layer (before softmax)

tensor([ 0.8993, -0.6360])

In [37]:
# Importing stock ml libraries
import warnings
warnings.simplefilter('ignore')
import numpy as np
import pandas as pd
from tqdm import tqdm
from sklearn import metrics
import transformers
import torch
from torch.utils.data import Dataset, DataLoader, RandomSampler, SequentialSampler
from transformers import DistilBertTokenizer, DistilBertModel
import logging
logging.basicConfig(level=logging.ERROR)

In [42]:
class nn_score(torch.nn.Module):
    def __init__(self):
        super(nn_score, self).__init__()
        self.l1 = DistilBertModel.from_pretrained("distilbert-base-uncased")
        self.pre_classifier = torch.nn.Linear(768, 768)
        self.dropout = torch.nn.Dropout(0.1)
        self.scoreOut = torch.nn.Linear(768, 1)

    def forward(self, input_ids, attention_mask, token_type_ids):
        output_1 = self.l1(input_ids=input_ids, attention_mask=attention_mask)
        hidden_state = output_1[0]
        pooler = hidden_state[:, 0]
        pooler = self.pre_classifier(pooler)
        pooler = torch.nn.Tanh()(pooler)
        pooler = self.dropout(pooler)
        output = self.scoreOut(pooler)
        return output

model = nn_score()

In [43]:
model

nn_score(
  (l1): DistilBertModel(
    (embeddings): Embeddings(
      (word_embeddings): Embedding(30522, 768, padding_idx=0)
      (position_embeddings): Embedding(512, 768)
      (LayerNorm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
      (dropout): Dropout(p=0.1, inplace=False)
    )
    (transformer): Transformer(
      (layer): ModuleList(
        (0-5): 6 x TransformerBlock(
          (attention): MultiHeadSelfAttention(
            (dropout): Dropout(p=0.1, inplace=False)
            (q_lin): Linear(in_features=768, out_features=768, bias=True)
            (k_lin): Linear(in_features=768, out_features=768, bias=True)
            (v_lin): Linear(in_features=768, out_features=768, bias=True)
            (out_lin): Linear(in_features=768, out_features=768, bias=True)
          )
          (sa_layer_norm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
          (ffn): FFN(
            (dropout): Dropout(p=0.1, inplace=False)
            (lin1): Linear(in_features=768, out_features=3072, bias=True)
            (lin2): Linear(in_features=3072, out_features=768, bias=True)
            (activation): GELUActivation()
          )
          (output_layer_norm): LayerNorm((768,), eps=1e-12, elementwise_affine=True)
        )
      )
    )
  )
  (pre_classifier): Linear(in_features=768, out_features=768, bias=True)
  (dropout): Dropout(p=0.1, inplace=False)
  (scoreOut): Linear(in_features=768, out_features=1, bias=True)
)

In [45]:
def loss_fn(outputs, target):
    return torch.nn.MSELoss()

optimizer = torch.optim.Adam(params = model.parameters(), lr=1e-4)

In [46]:
# Training loop

model.train()

its = 10000

for i in range(its):
    break